= form_for_q 4 do
  = ask 'Meg van elégedve a T-Mobile szolgáltatásával?'
  %p.suggestion A lehetőségek közül egyet válasszon!
  - if flash[:error]
    %p.error= flash[:error]
  = single_choice 'Igen', 'Nem'
  = submit
