= form_for_q 13 do
  = ask 'Használta már külföldön mobiltelefonját?'
  %p.suggestion A lehetőségek közül egyet válasszon!
  - if flash[:error]
    %p.error= flash[:error]
  = single_choice 'Igen', 'Nem'
  = submit
