= form_for_q 14 do
  = ask 'Külföldön milyen mobiltelefon szolgáltatásokat vett igénybe?'
  %p.suggestion A lehetőségek közül többet is választhat!
  - if flash[:error]
    %p.error= flash[:error]
  = multiple_choice 'Telefonálás', 'SMS', 'MMS', 'Hangposta', 'Internetezés / WAP'
  = submit
