= form_for_q 15 do
  = ask 'Az alábbi állítások közül melyik igaz Önre?'
  %p.suggestion A lehetőségek közül többet is választhat!
  - if flash[:error]
    %p.error= flash[:error]
  = multiple_choice 'Csak akkor használom a telefonomat külföldön, ha nagyon muszáj.', 'Nem telefonálok, inkább SMS-ezek.', 'Kicsit visszafogom magam a magas roaming díjak miatt.', 'Ugyanúgy telefonálok és SMS-ezek, mint otthon.'
  = submit
