= form_for_q 15 do
  = ask 'Az alábbi állítások közül melyik igaz Önre?'
  %p.suggestion A lehetőségek közül többet is választhat!
  - if flash[:error]
    %p.error= flash[:error]
  = multiple_choice 'Csak akkor használom a telefonomat külföldön, ha nagyon muszáj.', 'Külföldön nem telefonálok, inkább SMS-ezek.', 'Külföldön kicsit visszafogom magam a magas roaming díjak miatt.', 'Külföldön ugyanúgy telefonálok és SMS-ezek, mint otthon.'
  = submit
