= form_for_q 16 do
  = ask 'Rendelkezik mobilinternet előfizetéssel?'
  %p.suggestion A lehetőségek közül egyet válasszon!
  - if flash[:error]
    %p.error= flash[:error]
  = single_choice 'Igen', 'Nem'
  = submit
