= form_for_q 19 do
  = ask 'Ön szerint mi jellemzi legjobban a T-Mobile mobilinternet szolgáltatás?'
  %p.suggestion A lehetőségek közül egyet válasszon!
  - if flash[:error]
    %p.error= flash[:error]
  = single_choice 'Megbízhatóan működik.', 'Általában megy, de vannak problémák.', 'Csak néhány helyen megy, ott is lassan.', 'Alig tudom használni, mindig vannak vele problémák.'
  = submit
