= form_for_q 22 do
  = ask 'Milyen gyakran használja az alábbi funkciókat?'
  - if flash[:error]
    %p.error= flash[:error]
  = table [ 'Internet/WAP', 'Számológép', 'Ébresztőóra', 'MMS', 'Kihangosítás', 'Bluetooth', 'Játékok', 'GPS', 'Fényképezés', 'Videó rögzítés', 'SMS', 'MP3 lejátszás', 'Határidőnapló', 'Bejövő hívás elnémítása', 'Csengőhang rendelése névhez', 'Diktafon', 'Rádió', 'Mobilkód' ], [ 'Funkció' ] + [nil]*5, lambda { |item| Answer.all(:questionnaire_id => @q.id, :number => 21).last.answer[item] != 'Igen' rescue false } do |item,disabled|
    = single_choice_for item, disabled, 'Naponta többször', 'Hetente többször', 'Néhány hetente', 'Ritkábban', 'Soha'
  = submit
