= form_for_q 25 do
  = ask 'Általában miért vásárol új készüléket?'
  %p.suggestion A lehetőségek közül többet is választhat, illetve az 'Egyéb, kérjük részletezze:'-re kattintva beírhat tetszőleges választ is!
  - if flash[:error]
    %p.error= flash[:error]
  = multiple_choice_with_free 'Design', 'Új technológiai újdonság (streaming, chat, mobil TV, stb.)', 'Lejárt hűségszerződés', 'Kedvezményes ajánlat, akció', 'Egyéb, kérjük részletezze:'
  = submit
