= form_for_q 27 do
  = ask 'Milyen készüléket használ?'
  %p.suggestion A lehetőségek közül többet is választhat, illetve az 'egyéb:'-re kattintva beírhat tetszőleges választ is!
  - if flash[:error]
    %p.error= flash[:error]
  = multiple_choice_with_free 'Alcatel', 'BlackBerry', 'iPhone', 'LG', 'Motorola', 'Nokia', 'Panasonic', 'Sagem', 'Samsung', 'Siemens', 'Sony Ericsson', 'egyéb:'
  = submit
