= form_for_q 29 do
  = ask 'Hány működőképes készüléke van, beleértve a nem használt készülékeket is?'
  %p.suggestion A lehetőségek közül egyet válasszon!
  - if flash[:error]
    %p.error= flash[:error]
  = single_choice '1', '2', '3', '4', '5', 'Több'
  = submit
