= form_for_q 30 do
  = ask 'Hány készüléket tart éjjel-nappal bekapcsolva?'
  %p.suggestion A lehetőségek közül egyet válasszon!
  - if flash[:error]
    %p.error= flash[:error]
  = single_choice 'Egyet sem', '1', '2', '3', '4', '5', 'Több'
  = submit
