= form_for_q 32 do
  = ask 'Ismeri az alábbi mobil-szolgáltatásokat?'
  - if flash[:error]
    %p.error= flash[:error]
  = table [ 'Autópálya matrica vásárlás', 'Parkolójegy vásárlás', 'Mobilkód nyereményjáték', 'Mozijegy vásárlás', 'Apróhirdetés feladás', 'Lottó vásárlás', 'Csengőhang letöltés', 'Játék letöltés', 'Mobil TV', 'Film letöltés', 'Zene letöltés' ], [ 'Szolgáltatás' ] + [nil]*2, nil do |item,disabled|
    = single_choice_for item, disabled, 'Igen', 'Nem'
  = submit
