= form_for_q 34 do
  = ask 'A szolgáltatások közül melyiket használná szívesen?'
  - if flash[:error]
    %p.error= flash[:error]
  = table [ 'Autópálya matrica vásárlás', 'Parkolójegy vásárlás', 'Mobilkód nyereményjáték', 'Mozijegy vásárlás', 'Apróhirdetés feladás', 'Lottó vásárlás', 'Csengőhang letöltés', 'Játék letöltés', 'Mobil TV', 'Film letöltés', 'Zene letöltés' ], [ nil, 'Szolgáltatás' ], lambda { |item| Answer.all(:questionnaire_id => @q.id, :number => 32).last.answer[item] == 'Igen' rescue false } do |item,disabled|
    = check_box_for item, disabled
  = submit
