= form_for_q 41 do
  = ask 'Értékelje a mobilkódot! Van értelme? Ön szerint miért jó, miért rossz?'
  %p.suggestion Írja meg véleményét, szabadon!
  - if flash[:error]
    %p.error= flash[:error]
  = free_text
  = submit
