= form_for_q 47 do
  = ask 'Hányan élnek egy háztartásban?'
  %p.suggestion Számjegyekkel írjon be egy pozitív egész számot!
  - if flash[:error]
    %p.error= flash[:error]
  = free_text_field
  = submit
