= form_for_q 48 do
  = ask 'Lakhelye?'
  %p.suggestion A lehetőségek közül egyet válasszon!
  - if flash[:error]
    %p.error= flash[:error]
  = single_choice 'Budapest', 'Megyeszékhely vagy megyei jogú város', 'Vidéki kisváros', 'Kisebb település'
  = submit
